/* OrderHistory.module.css */
.orderItem {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background: #f9f9f9;
}

.payButton {
  background-color: #0d6efd;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
}

.payButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button{
  background-color: rgb(151, 151, 151);
  color: black;

}

.button:hover {
  background-color: #ddd;

}